.Editor-container {
  background-color: #8ed2bf;
  border: #005a41 3px solid;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 7px 5px #888888;
  width: 100%;
  height: 100%;
}

.Editor-header {
  background-color: #40d2b2;
  padding: 5px 0;
}

.Editor-textarea {
  background-color: #b3d7ca;
  width: 100%;
  outline: none;
  resize: none;
  border: none;
  padding: 5px;
}

.Editor-resize-button:hover {
  color: wheat;
  cursor: pointer;
}

.Previewer-container {
  background-color: #e9e9e9;
  border: #005a41 3px solid;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 7px 5px #888888;
  width: 100%;
  height: 100%;
}